@import "mixins";
@import "_variables";

html,
body {
  overflow-x: hidden;
}

#app {
  background: $light-grey-color;
  font-size: 12pt;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $white-color;
  scroll-behavior: smooth;

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    & + .content {
      padding-top: 102px;
    }
  }

  .title {
    font-family: $title-font;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  .subtitle {
    font-family: $subtitle-font;
  }
  .bold {
    font-weight: 700;
  }
  .section {
    padding: 100px 0 100px 0px !important;
  }
  #main {
    height: 100vh;
    @include filter-gradient($secondary-color, $main-color, "down");

    display: flex;
    canvas {
      position: absolute;
    }
    .title {
      font-size: 2.5rem;
      color: $white-color;
      font-family: $subtitle-font;
      .secondary-color {
      }
      .name {
        // font-family: $title-font;
        font-weight: bolder;
        text-transform: uppercase;
        font-size: 3.5rem;
        .mobile-only-br {
          display: none;
          @include screen("mobile") {
            display: block;
          }
        }
      }
    }
  }
  #navbar {
    background: $light-grey-color;
    z-index: 1;
    border-bottom: 5px solid $main-color !important;
    li {
      &:hover {
        a {
          background: lightgray;
          color: #000;
        }
      }

      a {
        color: $white-color;
        text-transform: uppercase;
      }
    }
  }
  #about {
    background: $transparent-black;
    #skills {
      .skill {
        padding: 20px;
        &:hover {
          background: $light-grey-color;
        }
        .shape-wrap {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
          .shape {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 3px $intermediate-color;

            svg {
              height: 3em;
              width: auto;
              color: $intermediate-color;
            }
          }
        }
        .text {
          p {
            margin: 0;
          }
        }
      }
    }
    .main {
      margin-bottom: 50px;
      @include screen("mobile") {
        margin-bottom: 0px;
        & > div {
          margin-bottom: 50px;
        }
      }

      #summary {
        .image {
          img {
            width: 50%;
            margin-bottom: 20px;
            @include screen("mobile") {
              width: 100%;
            }
          }
        }
        .body {
          margin: 0 15px;
          a {
            color: $main-color !important;
          }
        }
      }
      #languages {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 400px;
        // animation: slideInRight 0.75s ease both;
        .language {
          display: flex;
          flex-wrap: wrap;
          .name {
            width: 90px;
            background: $main-color;
            color: $white-color;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 1px solid $transparent-black;
          }
          .progress {
            width: calc(100% - 90px);
            height: 30px;
            border-radius: 0;
            font-size: 1rem;
            .progress-bar {
              // transition: 1.1s 0.2s width ease-in-out;
              @include filter-gradient($main-color, $secondary-color, "right");
            }
          }
        }
      }
    }
  }
  #experiences {
  }
  #portfolio {
    background: $transparent-black;
    .title-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .filter {
        padding: 5px 10px;
        margin: 0 10px;
        cursor: pointer;
        transition: all 0.35s;
        &.active {
          background: $main-color;
          color: #fff;
        }
        &:hover {
          background: lightgray;
          color: $black-color;
        }
      }
    }

    .projects {
      margin-bottom: 50px;
      margin-top: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .project {
        transition: all 0.35s ease-in-out;
        width: 350px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include screen("mobile") {
          margin: 5px 0;
        }
        @include screen("tablet") {
          margin: 5px 0;
        }

        &:hover .content {
          @include opacity(1);
        }
        .content {
          @include screen("mobile") {
            @include opacity(0.9);
          }
          @include screen("tablet") {
            @include opacity(0.9);
          }
          @include opacity(0);
          flex: 1;
          background-color: $main-color;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.7s;

          .body {
            .title {
              color: $white-color;
            }
            a.btn {
              border: 1px solid $white-color;
              border-radius: 0px;
              margin-top: 10px;
              padding: 5px 10px;
              text-transform: uppercase;
              color: $white-color;

              &:hover {
                background: $white-color;
                color: $main-color;
              }
            }
          }
        }
      }
    }

    .projects-enter {
      transform: scale(0.5) translatey(-80px);
      @include opacity(0);
    }

    .projects-leave-to {
      transform: translatey(30px);
      @include opacity(0);
    }

    .projects-leave-active {
      position: absolute;
      z-index: -1;
    }
  }
  #contact {
    color: $white-color;
  }
  #footer {
    // background: $transparent-black;
    color: $white-color;
    .social {
      justify-content: center;
      display: flex;

      .shape {
        color: white;
        width: 50px;
        height: 50px;
        background: $black-color;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          color: $white-color;
          font-size: 1.75rem;
        }
      }
      &:hover a {
        color: $main-color;
      }
    }
    .copyright {
      margin-top: 25px;
    }
  }
}
