@import "mixins";
@import "_variables";

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 25px;
    height: 100%;
    width: 4px;
    background: $main-color;
  }

  .cd-timeline-block {
    position: relative;
    margin: 2em 0;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    .cd-timeline-img {
      position: absolute;
      top: 8px;
      left: 12px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      box-shadow: 0 0 0 4px $main-color, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);

      background: $secondary-color;
    }

    .cd-timeline-content {
      position: relative;
      margin-left: 60px;
      background: #333c42;
      border-radius: 2px;
      padding: 1em;
      .timeline-content-info {
        background: #2b343a;
        padding: 5px 10px;
        box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
        border-radius: 2px;
        i {
          margin-right: 5px;
        }
        .timeline-content-info-title,
        .timeline-content-info-date {
          width: calc(50% - 2px);
          display: inline-block;
        }
        @media (max-width: 500px) {
          .timeline-content-info-title,
          .timeline-content-info-date {
            display: block;
            width: 100%;
          }
        }
      }
      .content-skills {
        padding: 0;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          background: #40484d;
          border-radius: 2px;
          display: inline-block;
          padding: 2px 10px;
          margin: 3px 2px;
          text-align: center;
          flex-grow: 1;
        }
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      h2 {
        margin-top: 0;
        margin-bottom: 5px;
      }
      .cd-date {
        font-size: 2rem;
      }
      .cd-date {
        display: inline-block;
      }
      p {
        margin: 1em 0;
        line-height: 1.6;
      }

      &::before {
        content: "";
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-right: 7px solid #333c42;
      }
    }
  }
}

@include screen("desktop") {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;

    &::before {
      left: 50%;
      margin-left: -2px;
    }

    .cd-timeline-block {
      margin: 4em 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        .cd-timeline-content {
          float: right;

          &::before {
            top: 24px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: #333c42;
          }

          .cd-read-more {
            float: right;
          }

          .cd-date {
            left: auto;
            right: 122%;
            text-align: right;
          }
        }
      }

      .cd-timeline-img {
        width: 30px;
        height: 30px;
        left: 50%;
        margin-left: -15px;
        margin-top: 15px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
      }
      .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;

        &::before {
          top: 24px;
          left: 100%;
          border-color: transparent;
          border-left-color: #333c42;
        }
        .cd-date {
          position: absolute;
          left: 122%;
          top: 6px;
        }
      }
    }
  }
}
