<template>
  <div id="experience" class="row section">
    <div class="container flex">
      <h1 class="title text-uppercase">Experience</h1>
      <section id="cd-timeline" class="cd-container">
        <div
          v-for="experience in experiences"
          :key="experience.title"
          class="cd-timeline-block"
        >
          <div class="cd-timeline-img cd-picture"></div>

          <div class="cd-timeline-content">
            <h2 class="subtitle">{{ experience.title }}</h2>
            <div class="timeline-content-info">
              <span class="timeline-content-info-title">
                <font-awesome-icon icon="certificate" />
                {{ experience.position }}
              </span>
              <span class="timeline-content-info-date">
                <font-awesome-icon icon="calendar" />
                {{ experience.time }}
              </span>
            </div>
            <p>{{ experience.description }}</p>
            <ul class="content-skills">
              <li v-for="skill in experience.skills" :key="skill">
                {{ skill }}
              </li>
            </ul>
            <span class="cd-date">{{ experience.date }}</span>
          </div>
          <!-- cd-timeline-content -->
        </div>
        <!-- cd-timeline-block -->
      </section>
      <!-- cd-timeline -->
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "Experiences",
  components: {},
  data: function() {
    return {
      experiences: [
        {
          title: "Freelance",
          position: "Software Engineer",
          time: "October 2019 - Present",
          description:
            "I have been working remotely in some projects using the following technologies: PHP, SQL, NodeJS, VueJS, MongoDB, MySQL, JavaScript and other libraries as needed. Currently, I am also leading the development team at OpenVenti, an open source project focused on creating inexpensive respirators.",
          skills: [
            "PHP",
            "Laravel",
            "VueJS",
            "Loopback",
            "MongoDB",
            "MySQL",
            "HTML5",
            "CSS3",
            "JavaScript",
            "jQuery"
          ],
          date: "October 2019"
        },
        {
          title: "Appealing Studio",
          position: "Software Engineer",
          time: "February 2018 - September 2019",
          date: "February 2018",
          description:
            "Mostly I was working in projects based in ​PHP as ​back-end and VueJs as front-end.",
          skills: [
            "PHP",
            "Laravel",
            "VueJS",
            "Loopback",
            "NodeJS",
            "ElectronJS",
            "Wordpress",
            "AWS",
            "Docker",
            "Angular",
            "MongoDB",
            "MySQL",
            "HTML5",
            "CSS3",
            "JavaScript",
            "jQuery"
          ]
        },
        {
          title: "Freelance",
          position: "Software Developer",
          time: "September 2017 - February 2018",
          date: "September 2017",
          description:
            "I was working in some short term projects using Loopback, Angular, MongoDB and .NET.",
          skills: [
            ".NET",
            "C#",
            "Loopback",
            "NodeJS",
            "Angular",
            "MongoDB",
            "SQL Server",
            "CSS3",
            "JavaScript",
            "jQuery"
          ]
        },
        {
          title: "Reyesoft",
          position: "Software Developer",
          time: "December 2014 - August 2017",
          date: "December 2014",
          description:
            "Mostly I worked in ​Multinexo​ ​back-end development based on API REST using PHP with Laravel framework​.",
          skills: ["PHP", "Laravel", "MongoDB", "MySQL"]
        },
        {
          title: "Acrux",
          position: "Software Developer",
          time: "February 2014 - December 2015",
          date: "February 2014",
          description:
            "Updated, modified and expanded existing software programs. Worked closely with clients to establish problem specifications and system designs. Managed call flow and responded to technical support needs of customers. Built, tested and deployed scalable and available software products.",
          skills: ["PHP", "Wordpress", "C#", "MySQL"]
        }
      ]
    };
  }
};
</script>
<style scoped lang="scss">
@import "@/assets/style/timeline.scss";
</style>
