<template>
  <div id="navbar" class="row">
    <b-nav>
      <b-nav-item href="#main" active>Home</b-nav-item>
      <b-nav-item href="#about">About</b-nav-item>
      <b-nav-item href="#experience">Experience</b-nav-item>
      <b-nav-item href="#portfolio">Portfolio</b-nav-item>
      <b-nav-item href="#footer">Contact</b-nav-item>
    </b-nav>
  </div>
</template>

<script lang="ts">
export default {
  name: "Navbar"
};
</script>
<style scoped lang="scss"></style>
